body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cartPrice {
  display: flex;
  justify-content: space-between;
}

.cartPrice > span {
  margin-right: 20px;
}
