body {
  margin: 0px;
  /* font-family: sans-serif; */
  /* font-family: Comic Sans MS; */
  /* font-family: Chalkduster; // ONLY HOBBY SHOPPER LOGO STUFF! */
  /* font-family: Stencil Std; */
  /* font-family: Marker Felt; */
  /* background-size: 300vw 100vw; */
  /* background-repeat: repeat-x; */

  background: url(http://api.thumbr.it/whitenoise-361x370.png?background=ebeff0ff&noise=d4cdd4&density=19&opacity=21);
  height: 100vh;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  display: inline-block;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.cartItem:hover {
  background-color: white;
  padding-left: 15px;
}

.cartPrice {
  display: flex;
  justify-content: space-between;
}

.cartPrice > span {
  margin-right: 20px;
  padding-top: 12px;
}

.purchaseCode {
  color: #453f78;
  font-weight: bold;
}
.adminMenu {
  padding-top: 50px;
  margin-right: 80px;
  width: 200px;
}

.adminMenu li:hover {
  background-color: lightgray;
}
.adminMenu li {
  width: 200px;
  text-align: start;
  padding-left: 15px;
  padding-top: 15px;
  list-style: none;
  height: 28px;
  border: 0.3px solid grey;
  border-top: 0px;
}

.confirmationDiv {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
}
.selectedMenu {
  background-color: lightskyblue;
}

#adminMenuHeader {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: black;
  color: white;
}

.dashboardTable {
  padding-top: 50px;
}

.dashboardTable > h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-bottom: 25px;
}

.navBar-Main {
  box-shadow: 0px 10px 12px 0px rgb(0, 0, 0);
  display: flex;
  /* background-color: rgb(60, 57, 57); */
  background-color: #453f78;
  color: white;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  z-index: 2;
}

.navLink:hover {
  text-shadow: rgba(237, 238, 238, 0.226) 0px 0.35em 1.175em,
    rgba(237, 238, 238, 0.212) 0px 0.175em 0.5em;
  transform: translateY(-1.4px) scale(1.0001);
}

.cart {
  padding: 45px;
  padding-left: 250px;
  padding-right: 250px;
}
.navBar {
  display: flex;
  /* background-color: rgb(60, 57, 57); */
  background-color: #453f78;
  color: white;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
}

.orderSuccess {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.authForm {
  display: flex;
  justify-content: center;
}
.navLink {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 15px;
  transition: all 500ms;
}

.siteName {
  font-family: 'Alfa Slab One';
  font-size: 60px;
  margin-right: 20px;
}
.formDiv {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  height: 500px;
}
.formDiv > form {
  display: flex;
  justify-content: center;
  height: 500px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 330px;
  width: 400px;
}

form > input {
  margin-bottom: 10px;
}

form > select {
  margin-bottom: 10px;
}

.shoppingCart {
  font-size: 25px;
  color: white;
}

.adminComponent {
  display: flex;
}

.modelLinkId {
  margin-right: 1px;
}

td {
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0.2px solid;
  text-align: center;
}

th {
  background-color: black;
  color: white;
  height: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

tbody > tr {
  background-color: lightyellow;
}

tbody > tr:hover {
  background-color: lightgrey;
}

th:first-child {
  border-top-left-radius: 8px;
}

th:last-child {
  border-top-right-radius: 8px;
}

table {
  border-collapse: collapse;
}

button {
  background-color: #453f78;
  color: white;
  max-width: 100px;
  min-width: 100px;
  max-height: 35px;
  min-height: 35px;
  border-radius: 10px;
  border: 0px;
  transition: all 500ms;
}

button:hover {
  opacity: 0.78;
}

.welcomePhoto {
  width: 100%;
  height: 575px;
}

/* Container holding the image and the text */
.welcomePhotoContainer {
  position: relative;
  text-align: center;
  color: white;
  z-index: -1;
  margin-bottom: 30px;
}

/* Bottom right text */
.bottom-right {
  font-family: Marker Felt;
  text-shadow: 2px 2px rgb(0, 0, 0);
  font-size: 18px;
  position: absolute;
  bottom: 160px;
  right: 160px;
}

/* Centered text */
.centered {
  text-shadow: 3px 3px rgb(0, 0, 0);
  font-family: Marker Felt;
  font-size: 35px;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sampleContainer {
  width: 100%;
}

.sampleHobbies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.sampleHobby {
  min-width: 250px;
  max-width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: cadetblue;
  justify-content: space-evenly;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  transition: all 500ms;
}

.sampleHobby:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.025);
}

.sampleHobby h6 {
  min-width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border-style: solid; */
  font-size: 20px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.sampleHobbyPhoto {
  max-width: 200px;
}

.welcomeText {
  font-size: 25px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  width: 815px;
}

.sampleHeading {
  display: flex;
  justify-content: center;
}

.landingPageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separator {
  margin-top: 30px;
  margin-bottom: 30px;
}

a {
  color: inherit;
}

.allHobbiesPage {
  padding-left: 50px;
  padding-right: 50px;
}

  .allHobbiesContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.oneHobby {
  /* border-style: solid; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(169, 215, 218);
  border-radius: 10px;
  align-items: center;
}

.oneHobby:hover {
  background-color: rgb(116, 143, 145);
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  /* transform: translateY(-3px) scale(1.025); */
}
/*
.cardDescription {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.oneHobbyImage {
  border-radius: 10px;
}

/* .hobbyDescription {
  max-width: 400px;
} */

.hobbyTitle {
  max-width: 300px;
}

.hobbyButton {
  background-color: #453f78;
  color: white;
  max-width: 100px;
  min-width: 100px;
  max-height: 35px;
  min-height: 35px;
  border-radius: 10px;
}

.hobbyWords {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 400px;
}

.footer {
  background-color: #453f78;
  color: white;
  /* width: 100%;
  text-align: center;
  margin-top: -30px;
  height: 40px;
  bottom: 0;
  justify-self: end; */
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  text-align: center;
}

.profilePage {
  margin-top: 40px;
}

.routesContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
